/* ---------------------- header ---------------------- */
header {
	height: 90px;
	
	z-index: 9999;
	background: #24397D;
	transition: 0.5s;
	overflow: visible;
    max-width: 1920px;
    margin: auto;

	&.home {
		background: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
		#sm_menu_ham {
			filter: brightness(0) invert(1);
		}
	}

	
	.header-inner {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
        padding: 0 50px;
	}

	.menu-button {
		position: relative;
	}

	.logo {
		height: 100%;
        @include flex-center;
		img {
			max-height: 86%;
		}
	}

    .tel {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include f-b;
        font-size: 21px;
        color: #fff;

        img {
            margin-left: 8px;
        }
    }

    .part-right, .tel {
        flex: 1 0;
    }

    .part-right {
        display: flex;
        align-items: center;
    }
    .menu-cont {
        height: 100%;
        text-align: right;
        margin: 0 35px;
        display: inline-block;
        position: relative;
        ul.main-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            .menu-item-has-children, .has-extra-menu { 
                padding-left: 20px;
                background: url("../images/icons/rdw.svg") no-repeat left 10px center;
            }
            .menu-item-has-children {
                position: relative;
            }
            .has-extra-menu { 
                position: static;
            }
            > li {
                position: relative;
                padding: 0 15px;
                > a {
                    position: relative;
                    transition: 0.25s;
                    @include f-l;
                    font-size: 21px;
                    color: #fff;
                    
                    padding: 5px 5px;
                    white-space: nowrap;
                    display: inline-block;
                    height: 100%;
                    
                    &:hover {
                        color: var(--color-main);
                    }
                }
                &.current_page_item, &.current-menu-item {
                    > a {
                        @include f-b;
                    }
                }
                .sub-menu {
                    padding: 20px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 100%;
                    background-color: #fff;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.15s;
                    box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
                    z-index: 99;
                    li {
                        margin: 0;
                        &.menu-item-has-children {
                            background: url("../images/icons/rr.svg") no-repeat left center;
                        }
                        a {
                            @include f-r;
                            font-size: 17px;
                            color: var(--color-text);
                            padding: 8px;
                            white-space: nowrap;
                            display: inline-block;
                            transition: 0.5s;
                            &:hover {
                                color: var(--color-main);
                            }
                        }
                        .sub-menu {
                            left: auto;
                            right: 100%;
                            top: 0;
                            transform: translateX(-20px);
                        }
                        &:hover {
                            >.sub-menu {
                                visibility: visible;
                                opacity: 1;
                            }
                            >.extra-menu {
                                top: 100%;
                                visibility: visible;
                                opacity: 1;
                            }
                            
                        }
                    }
                }

  

                &:hover {
                    >.sub-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        height: 75px;
        .header-inner {
            padding: 0 25px;
        }
        .tel {
            font-size: 19px;
            img {
                margin-left: 6px;
                height: 18px;
            }
        }

        .menu-cont {
            margin: 0 25px;
            ul.main-menu {
                > li {
                    padding: 0 10px;
                    > a {
                        font-size: 19px;
                        padding: 5px 5px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        height: 45px;
        &.home {
            position: fixed;
            background: #24397D;
        }
        .menu-cont {
            display: none;
        }
        .header-inner {
            padding: 0 10px;
        }
        .tel {
            span {
                display: none;
            }
        }
        .logo {
            img {
                max-height: 100%;
            }
        }
    }

	
}
/* --------------------- /header ---------------------- */

/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
    position: relative;
    height: 815px;
    padding-top: 0;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
    }

    .image {
        height: 100%;
        @include flex-center;
        img {
            height: 100%;
        }
    }
    .slider-top-main {
        height: 100%;
        .swiper-slide {
            height: 100%;
            position: relative;
            @include flex-center;
            img.main {
                height: 100%;
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                font-size: 0;
                z-index: 2;
                background: #24397d;
                opacity: 0.4;
            }

            &.swiper-slide-active {
                .widget-product {
                    transform: translateX(0px);
                    opacity: 1;
                }
                .part-bottom > .info {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
    }
    
    .text {
        text-align: center;
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 0 50px;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        .title {
            @include f-l-b;
            font-size: 185px;
            color: #fff;
            margin: 35px 0;
        }
    }

    .part-bottom {
        position: relative;
        z-index: 2;
        max-width: 1750px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 50px;
        right: 0;
        width: 100%;
        z-index: 9;
        > .info {
            @include f-l;
            font-size: 21px;
            line-height: 1.5;
            color: #fff;
            max-width: 550px;
            margin-right: 55px;
            margin-left: 15px;

            transition: 1s;
            transform: translateX(-100px);
            opacity: 0;
        }
    }

    .widget-product {
        padding: 20px;
        padding-left: 0;
        display: flex;
        align-items: center;
        position: relative;
        background: #fff;

        transition: 1s;
        transform: translateX(100px);
        opacity: 0;
        .image {
            width: 185px;
            height: auto;
            flex-shrink: 0;
            padding-left: 35px;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .info {
            padding: 0 35px;
            border-right: 3px solid #E8672D;
            margin: 0;

            .title {
                @include f-m;
                font-size: 26px;
                line-height: 1;
                color: #172A43;
            }
            .desc {
                @include f-l;
                font-size: 21px;
                color: #172A43;
                margin-top: 5px;
            }
        }

        .arrow {
            width: 50px;
            flex-shrink: 0;
            cursor: pointer;
            @include flex-center;
            position: relative;
            height: 100%;
            &:after {
                content: "";
                position: absolute;
                display: block;
                top: -20px;
                bottom: -20px;
                right: 0;
                background-color: #d1d1d1;
                width: 1px;
                z-index: 3;
            }
        }
    }

 
    @media only screen and (max-width : $lw) {
        height: 650px;
        .text {
            .title {
                font-size: 135px;
            }
        }
        .part-bottom {
            .info {
                font-size: 19px;
            }
        }

        .widget-product {
            padding: 15px;
            padding-left: 0;
            .image {
                width: 145px;
                padding-left: 15px; 
            }

            .info {
                padding: 0 25px;
                margin-right: 35px;

                .title {
                    font-size: 22px;
                }
                .desc {
                    font-size: 19px;
                }
            }
            .arrow {
                &:after {
                    top: -15px;
                    bottom: -15px;
                }
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .part-bottom {
            flex-wrap: wrap;
            >.info {
                margin: 15px;
            }
        }

        
    }


    @media only screen and (max-width : $mw) {
        height: 550px;
        padding-top: 45px;
        .text {
            display: block;
            padding: 0 20px;
            .title {
                font-size: 60px;
            }
        }
        .widget-product {
            padding: 10px;
            max-width: 95%;
            .image {
                width: 90px;

                padding-left: 0; 
            }

            .info {
                padding: 0px 10px;
                padding-left: 0;
                margin-right: 10px;
                margin-left: 0;
                border-right: 2px solid #E8672D;
                .title {
                    font-size: 19px;
                    line-height: 1.2;
                }
                .desc {
                    font-size: 18px;
                    line-height: 1.2;
                    margin-top: 8px;
                }
            }
            .arrow {
                display: none;
            }
        }

        .part-bottom {
            bottom: 25px;
        }
  
    }


}
/* --------------------- /Section slider-top ---------------------- */

/* ---------------------- Section services ---------------------- */
section.services {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        font-size: 0;
        margin: 0px;
        margin-top: 65px;
        .box {
            width: 33.33%;
            margin: 0;
            padding: 0px;
            border-right: 1px solid #fff;
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            .box {
                width: 100%;
            }
        }
    }
}
/* --------------------- /Section services ---------------------- */
.box-category {
    .inner {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            z-index: 1;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-second);
            opacity: 0.4;
            transition: opacity 0.5s;
        }
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 728px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .title-main {
        @include f-r;
        font-size: 36px;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 20px;
        right: 20px;
        transform: translateY(-50%);
        z-index: 3;
        transition: 0.5s;
    }

    .hover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        opacity: 0;
        visibility: hidden;
        z-index: 2;
        transition: 0.5s;
        .title {
            position: static;
            @include f-r;
            font-size: 36px;
            line-height: 1.1;
            color: #fff;
            &:after {
                content: "";
                display: block;
                width: 65px;
                height: 3px;
                background-color: var(--color-main);
                margin: 5px auto;
            }
        }

        .list {
            margin-top: 25px;
            .item {
                @include f-l;
                font-size: 18px;
                color: #fff;
                display: block;
                margin-top: 5px;
                transition: 0.5s;
                &:hover {
                    color: var(--color-main);
                }
            }
        }
    }

    &:hover {
        .inner {
            &:after {
                opacity: 0.88;
            }
        }
        .title-main {
            opacity: 0;
            visibility: hidden;
        }
        .hover {
            opacity: 1;
            visibility: visible;
        }
    }

    @media only screen and (max-width : $lw) {
        .image {
            height: 590px;
        }
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 350px;
            img {
                height: auto;
                min-width: 100%;
                min-height: 100%;
            }
        }
        .hover {
            .title {
                font-size: 30px;
            }
            .list {
                margin-top: 10px;
            }
        }
    }
}


/* ---------------------- Section vision ---------------------- */
section.vision {
    .advantages {
        margin-top: 65px;

        .boxes {
            display: flex;
           //flex-wrap: wrap;
            margin: 0px;
            margin-top: 35px;
            border-bottom: 1px solid #707070;
            .box {
                padding: 15px;
                border-right: 1px solid #707070;
                &:first-child {
                    border-right: none;
                }
                text-align: center;
                flex: 1 0;

                .icon {
                    height: 50px;
                    img {
                        max-height: 100%;
                        margin: auto;
                    }
                }
                .title {
                    @include f-m;
                    font-size: 18px;
                    color: var(--color-text);
                    margin-top: 10px;
                }
                .desc {
                    @include f-l;
                    font-size: 18px;
                    color: var(--color-text);
                }
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .advantages {
            .boxes {
                margin: 0 -20px;
                margin-top: 35px;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .advantages {
            .boxes {
                flex-wrap: wrap;
                margin: 0 -10px;
                margin-top: 35px;
                border-bottom: none;
                .box {
                    flex-basis: 33.33%;
                    width: 33.33%;

                    border-right: 1px solid #707070;
                    border-bottom: 1px solid #707070;

                    &:nth-child(6n + 4) {
                        border-right: none;
                    }

                    .title {
                        font-size: 16px;
                    }
                    .desc {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/* --------------------- /Section vision ---------------------- */

.menu-horizontal {
    margin-top: 65px;
    .title-mobile {
        display: none;
        @include f-m;
        font-size: 21px;
        color: var(--color-text);
        text-align: center;
        cursor: pointer;
        span {
            margin: auto;
            display: inline-block;

            padding-left: 15px;
            background: url("../images/icons/rd.svg") no-repeat;
            background-position: left center;
        }
    }

    .items {
        display: flex;
        justify-content: space-around;
        
        .item {
            @include f-m;
            font-size: 21px;
            color: var(--color-text);
            margin: 0 20px;
            position: relative;
            transition: 0.5s;
            text-align: center;
            cursor: pointer;
            &:hover, &.active {
                color: var(--color-main);
            }
            &:after {
                content: "";
                display: block;
                width: 55px;
                height: 3px;
                background-color: var(--color-main);
                margin: 5px auto;
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .items {
            .item {
                font-size: 19px;
                &:after {
                    width: 35px;
                    height: 2px;
                    margin: 5px auto;
                }
            }
        }
    }

    @media only screen and (max-width : $mw) {
        border: 1px solid #c1c1c1;
        margin-top: 35px;
        .title-mobile {
            display: block;
        }
        .items {
            margin-top: 0px;
            display: none;
            padding: 10px 0;
            .item {
                &:last-child {
                    &:after {
                        content: none;
                    }
                }
            }
        }
    }
}

/* ---------------------- Section projects ---------------------- */
section.projects {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        margin-top: 55px;
        .box {
            width: 25%;
            padding: 15px;

            &:nth-child(6n + 1), &:nth-child(6n + 6) {
                width: 50%;
            }
        }
    }

    &.all-50 {
        .boxes {
            .box {
                width: 50%;
                .inner {
                    .hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    @media only screen and (max-width : $lw) {
        .boxes {
            margin-top: 35px;
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
            margin-top: 25px;
            .box {
                width: 50%;
                padding: 10px;
    
                &:nth-child(6n + 1), &:nth-child(6n + 6) {
                    width: 100%;
                }
            }
        }
        &.all-50 {
            .boxes {
                .box {
                    width: 100%;
                }
            }
        }
    }
}
/* --------------------- /Section projects ---------------------- */

.box-project {
    .inner {
        position: relative;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 330px;
        overflow: hidden;
        img {
            height: 100%;
            transition: 0.5s;
        }
    }
    .hover {
        padding: 20px; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

        text-align: center;
        opacity: 0;
        transition: 0.5s;
        .title {
            @include f-r;
            font-size: 18px;
            color: #fff;
        }

        .desc {
            @include f-l;
            font-size: 18px;
            color: #fff;
            margin-top: 5px;
        }
    }

    cursor: pointer;
    &:hover {
        .image {
            img {
                transform: scale(1.1);
            }
        }
        .hover {
            opacity: 1;
        }
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 210px;
        }
    }
}


/* ---------------------- Section meeting ---------------------- */
section.meeting {
    padding: 35px 0;
    background: #24397D url("../images/index/bg-meeting.png") no-repeat;
    background-size: cover;
    background-position: center center;
    .text {
        @include f-l;
        font-size: 21px;
        letter-spacing: 0.05em;
        color: #fff;
        text-align: center;
        max-width: 860px;
        margin: auto;
        p {
            margin-top: 25px;
        }
    }

    
}
/* --------------------- /Section meeting ---------------------- */


/* ---------------------- Section installation ---------------------- */
section.installation {
    .parts {
        margin: 0;
        .part-text {
            width: 33.33%;
            padding: 0;
            padding-left: 35px;
        }   
        .part-video {
            width: 66.66%;
            padding: 0;
        }
    }

    .video {
        display: inline-block;
        position: relative;
        font-size: 0;
        margin-top: 55px;
        &:first-child {
            margin-top: 0;
        }
        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #24397d;
            opacity: 0.4;
        }
        img {
            max-width: 100%;
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 2;
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                transform: translateX(-50%) translateY(-50%) scale(1.1);
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .video {
            margin-top: 25px;
        }
        .parts {
            margin: 0;
            .part-text {
                width: 100%;
                padding: 0;
                padding-left: 0px;
            }   
            .part-video {
                width: 100%;
                padding: 0;
            }
        }
    }
}
/* --------------------- /Section installation ---------------------- */

/* ---------------------- Section testimonials ---------------------- */
section.testimonials {
    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
        margin-top: 25px;
        justify-content: center;
        .box {
            width: 33.33%;
            padding: 10px;
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            .box {
                width: 100%;
                max-width: 350px;
            }
        }
    }
}
/* --------------------- /Section testimonials ---------------------- */

.box-video {
    cursor: pointer;
    .inner {
        position: relative;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 295px;
        overflow: hidden;
        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #24397d;
            opacity: 0.5;
            transition: 0.5s;
        }
        img {
            height: 100%;
        }
    }

    &:hover {
        .image {
            &:after {
                opacity: 0;
            }
        }
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 2;
    }

    .title {
        @include f-m;
        font-size: 18px;
        color: #fff;
        text-align: center;

        position: absolute;
        top: 65%;
        left: 10px;
        right: 10px;
        transform: translateY(-50%);
        z-index: 2;
    }

    @media only screen and (max-width : $mw) {
        .image {
            height: 270px;
        }
    }
}


/* ---------------------- footer ---------------------- */
footer {
    position: relative;
	overflow: visible;
    z-index: 99;
    max-width: 1920px;
	margin: auto;


	.part-top {
		padding-top: 70px;
		padding-bottom: 50px;
		text-align: center;
        background: #24397D;
		.cols {
	        display: flex;
	        justify-content: space-between;
	        color: white;
	        font-size: 17px;
	        text-align: right;
			
			margin: auto -20px;

			.col {
				padding: 0 20px;
				color: #fff;
				
				.title {
					@include f-m;
					font-size: 18px;
					color: #fff;
                    display: inline-block;
                    white-space: nowrap;
                    margin-top: 25px;
                    &:first-child {
                        margin-top: 0;
                    }
				}

				.content {
					@include f-l;
					font-size: 18px;
					margin-top: 10px;
					color: #fff;
                    &:first-child {
                        margin-top: 0;
                    }
					a {
						color: inherit;
						transition: 0.5s;
                        text-decoration: none;
						&:hover {
							color: var(--color-main);
						}
					}
                    ul {
                        list-style: none;
                        padding-right: 0;
                    }
					p,li {
						margin-top: 5px;
					}
      
				}

			}
		}
	}


	.part-bottom {
        padding: 25px 0;
        border-top: 1px solid rgba(0,0,0, 0.5);
        @include f-r;
        font-size: 18px;
        color: var(--color-text);

        display: flex;
        justify-content: center;
        align-items: center;
        .sep {
            width: 2px;
            height: 15px;
            margin: 0 15px;
            background: var(--color-text);
        }
    }


    @media only screen and (max-width : $lw) {
       
  
    }

    @media only screen and (max-width : $tw) {

    }

    @media only screen and (max-width : $mw) {


        .part-top {
            padding-top: 20px;
            .cols {
                flex-wrap: wrap;
                .col {
                    flex: 50% 1;
                    margin-top: 25px;
                    .content {
                        ul {
                            margin-top: 0;
                            li {
                                margin-top: 0;
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }

        .part-bottom {
            flex-wrap: wrap;
            padding: 15px 0;
            p {
                width: 100%;
                text-align: center;
                margin: 7px;
            }
            .sep {
                display: none;
            }
        }

        
    }




	
}
/* --------------------- /footer ---------------------- */
.logoextra {
    cursor: pointer;
    svg path {
        transition: 0.5s;
    }
    &:hover {
        svg path {
            fill: #FFC20F;
        }
    }
}


/* ----------------- wpcf7-------------------- */
.wpcf7 {
	margin: auto;
	text-align: center;
    position: relative;
    min-width: 320px;
	input[type="url"], input[type="email"], input[type="tel"] {
		direction: rtl;
	}
	input, select, textarea {
		@include f-l;
		font-size: 18px;
		border: none;
        border-bottom: 1px solid #fff;
		color: #fff;
		@include placeholder-color(#fff);

		background: transparent;
        border-radius: 0;
		outline: none;
		padding: 7px 0px;
		width: 100%;

		direction: rtl;


		&:focus {
			//@include placeholder-color(#713F99);
			//color: #713F99;
		}
	}
    input[type="checkbox"] {
        width: auto;
        margin-left: 10px;
    }

    select {
        padding-left: 25px;
        appearance: none;
        background: #535353 url("../images/icons/rdw.svg") no-repeat;
        background-position: left 20px center;
    }

    textarea {
        border-radius: 24px;
        height: 130px;
        padding: 20px 20px;
    }
    form {
      
    }
	.wpcf7-form-control-wrap {
		display: block;
		position: relative;
        margin-top: 10px;
        &[data-name*="acceptance"] {
            text-align: right;
        }
	}

    .wrapper-submit {
        margin: auto;
        margin-top: 20px;
        width: auto;
        display: inline-block;
        float: left;

        position: relative;
        padding-left: 25px;

        background: url("../images/icons/fav.png") no-repeat;
        background-position: left center;
    }
   
	input[type="submit"] {
		border: none;
        cursor: pointer;
        @include f-m;
        font-size: 21px;
        color: #fff;
        padding: 5px 0px;
        
        appearance: none;
        transition: 0.5s;

        &:hover {
            color: var(--color-main);
        }
       
	}
	


	span[role="alert"] {
		@include f-r;
		font-size: 14px;
		color: #DF0707;
		position: absolute;
		left: 0;
		bottom: -20px;
	}
	.wpcf7-response-output {
		@include f-r;
		font-size: 14px;
		color: #DF0707;
		position: absolute;
		
    	bottom: -25px;
        right: 0;
    	border: none !important;
   	 	padding: 0 !important;
    	margin: 0 !important;
	}

    .wpcf7-not-valid-tip {
        font-size: 11px;
        position: absolute;
        bottom: 0;
        right: 0px;
    }
	.wpcf7-spinner {
        position: absolute;
	}


}
/* ----------------- /wpcf7-------------------- */