section {
	width: 100%;
	max-width: 1920px;
	margin: auto;	
	overflow: hidden;
	position: relative;
	padding: 90px 0;
	@media only screen and (max-width : $lw) {
		padding: 75px 0;
	}
	@media only screen and (max-width : $tw) {
		padding: 55px 0;
	}
	@media only screen and (max-width : $mw) {
		padding: 35px 0;
	}
}

.section-inner {
	max-width: 1280px;
	padding: 0 20px;
	width: 100%;
	margin: auto;
	position: relative;
	&.wide {
		max-width: 1620px;
	}
	@media only screen and (max-width : $mw) {
		padding: 0 10px;
	}
}

.content {
	@include f-l;
	font-size: 18px;
	color: var(--color-text);
	line-height: 1.5;
	&.white {
		color: #fff;
	}
	strong {
		@include f-b;
	}
	p,ul,li,h1,h2,h3,h4,h5,img {
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
	}
	a {
		color: var(--color-main);
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		list-style: disc;
    	padding-right: 25px;
	}

	img {
		max-width: 100%;
	}
}

.centered {
	text-align: center;
}

.parts {
	display: flex;
	margin: 0 -45px;
	&.ai-center {
		align-items: center;
	}
	.part {
		width: 50%;
		padding: 0 45px;
		position: relative;
		&:nth-child(1) {
		}
		&:nth-child(2) {
		}
		.image {
			img {
				max-width: 100%;
			}
		}
	}

	@media only screen and (max-width : $mw) {
		flex-wrap: wrap;
		.part {
			width: 100%;
			&:nth-child(2) {
				margin-top: 25px;
			}
		}
	}
}

.section-title {
	@include f-m;
	font-size: 36px;
	line-height: 1.1;
	color: var(--color-text);
	&.white {
		color: #fff;
	}

	&:after {
		content: "";
		display: block;
		width: 90px;
		height: 3px;
		background-color: var(--color-main);
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&.centered {
		&:after {
			margin-right: auto;
			margin-left: auto;
		}
	}
	@media only screen and (max-width : $tw) {
		font-size: 30px;
	}
	@media only screen and (max-width : $mw) {
		font-size: 25px;
		&:after {
			width: 55px;
		}
	}
}

.section-subtitle {
	@include f-l;
	font-size: 21px;
	line-height: 1.5;
	color: var(--color-text);
	text-align: center;
	max-width: 1054px;
	margin: auto;
	margin-top: 20px;
	p {
		margin-top: 10px;
	}

	@media only screen and (max-width : $mw) {
		font-size: 19px;
	}
}

.title-regular {
	@include f-m;
	font-size: 18px;
	color: var(--color-text);

	margin-top: 35px;
	&:first-child {
		margin-top: 0;
	}
}
.decor-grid {
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	.inner {
		width: 100%;
		height: 100%;
		max-width: 1240px;
		display: flex;
		margin: auto;
		.col {
			width: 33.33%;
			border-right: 1px solid #000;
			&:last-child {
				border-left: 1px solid #000;
			}
			opacity: 0.1;
		}
	}
}

.button-icon {
	display: inline-block;
	@include f-m;
	font-size: 21px;
	color: var(--color-text);

	margin-top: 35px;
	padding-left: 27px;
	background: url("../images/icons/fav.png") no-repeat;
	background-position: left center;

	transition: 0.5s;
	&:hover {
		color: var(--color-main);
	}

	&.white {
		color: #fff;
	}
}

.loading:after {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f1ce";
    animation: fa-spin .75s linear infinite;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    color: #227BC9;
    z-index: 2;
}

#sm_menu_ham {
	position: static;
	span {
		background-color: #fff;
		height: 3px;
	}
}

body .sm_menu_outer {
	background: #24397D;
	filter: drop-shadow(0px 8px 17px rgba(0,0,0,0.4));
	background-repeat: no-repeat;
	background-position: bottom right;
	display: block;
	top: 90px;

	&.slide .mobile_menu .sub-menu {
		background: #24397D;
		height: calc(100vh - 90px);
	}
	.mobile_menu {
		li {
			border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
		}
		a {
			@include f-r;
			 padding: 15px 15px;
		}
		.current_page_item {
			>a {
				@include f-b;
			}
		}
	}

	@media only screen and (max-width : $tw) {
		top: 75px;
	}

	@media only screen and (max-width : $mw) {
		top: 45px;
	}
}
.sm_menu_outer.slide .mobile_menu li.hasChild > a {
    background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center / 5% auto;
}

.sm_menu_outer .mobile_menu li.back a {
    padding: 20px 45px 20px 5px;
    background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center / 5% auto;
}

.sm_menu_outer {
    bottom: 0;
    height: auto;
    top: 80px;
    left: auto;
    right: -400px;
    max-width: 360px;
	transition: 0.5s;
	overflow: hidden;
    &.active {
    	right: 0;
    }

    @media only screen and (max-width : 1460px) {
    	top: 60px;
    }

    @media only screen and (max-width : $mw) {
    	top: 45px;
    }

}