:root {
  --color-text: #000000;
  --color-main: #EB682C;
  --color-second: #24397D; }

/* Fonts */
@font-face {
  font-family: 'heebo-bold';
  src: url("../fonts/Heebo-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'heebo-light';
  src: url("../fonts/Heebo-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'heebo-medium';
  src: url("../fonts/Heebo-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'heebo-regular';
  src: url("../fonts/Heebo-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'levenim -bold';
  src: url("../fonts/lvnmbd.ttf") format("truetype"); }

/* /Fonts */
/* Global */
html {
  margin: 0 !important;
  overflow-x: hidden; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'heebo-regular';
  font-size: 18px; }
  @media only screen and (max-width: 950px) {
    body {
      padding-top: 45px; } }

input {
  border: none;
  outline: none; }

a {
  text-decoration: none;
  color: inherit; }

*, *::before, *::after {
  box-sizing: border-box;
  direction: rtl; }

.ltr, .ltr * {
  direction: ltr; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 90px 0; }
  @media only screen and (max-width: 1370px) {
    section {
      padding: 75px 0; } }
  @media only screen and (max-width: 1200px) {
    section {
      padding: 55px 0; } }
  @media only screen and (max-width: 950px) {
    section {
      padding: 35px 0; } }

.section-inner {
  max-width: 1280px;
  padding: 0 20px;
  width: 100%;
  margin: auto;
  position: relative; }
  .section-inner.wide {
    max-width: 1620px; }
  @media only screen and (max-width: 950px) {
    .section-inner {
      padding: 0 10px; } }

.content {
  font-family: 'heebo-light';
  font-size: 18px;
  color: var(--color-text);
  line-height: 1.5; }
  .content.white {
    color: #fff; }
  .content strong {
    font-family: 'heebo-bold'; }
  .content p, .content ul, .content li, .content img {
    margin-top: 15px; }
    .content p:first-child, .content ul:first-child, .content li:first-child, .content img:first-child {
      margin-top: 0; }
  .content h1, .content h2, .content h3, .content h4, .content h5 {
    margin-top: 30px; }
    .content h1:first-child, .content h2:first-child, .content h3:first-child, .content h4:first-child, .content h5:first-child {
      margin-top: 0; }
  .content a {
    color: var(--color-main);
    text-decoration: underline; }
    .content a:hover {
      text-decoration: none; }
  .content ul {
    list-style: disc;
    padding-right: 25px; }
  .content img {
    max-width: 100%; }

.centered {
  text-align: center; }

.parts {
  display: flex;
  margin: 0 -45px; }
  .parts.ai-center {
    align-items: center; }
  .parts .part {
    width: 50%;
    padding: 0 45px;
    position: relative;
    flex-grow: 1; }
    .parts .part .image img {
      max-width: 100%; }
  @media only screen and (max-width: 950px) {
    .parts {
      flex-wrap: wrap; }
      .parts .part {
        width: 100%; }
        .parts .part:nth-child(2) {
          margin-top: 25px; } }

.section-title {
  font-family: 'heebo-medium';
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-text); }
  .section-title.white {
    color: #fff; }
  .section-title:after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background-color: var(--color-main);
    margin-top: 10px;
    margin-bottom: 10px; }
  .section-title.centered:after {
    margin-right: auto;
    margin-left: auto; }
  @media only screen and (max-width: 1200px) {
    .section-title {
      font-size: 30px; } }
  @media only screen and (max-width: 950px) {
    .section-title {
      font-size: 25px; }
      .section-title:after {
        width: 55px; } }

.section-subtitle {
  font-family: 'heebo-light';
  font-size: 21px;
  line-height: 1.5;
  color: var(--color-text);
  text-align: center;
  max-width: 1054px;
  margin: auto;
  margin-top: 20px; }
  .section-subtitle:first-child {
    margin-top: 0; }
  .section-subtitle p {
    margin-top: 10px; }
  @media only screen and (max-width: 950px) {
    .section-subtitle {
      font-size: 19px; } }

.title-regular {
  font-family: 'heebo-medium';
  font-size: 18px;
  color: var(--color-text);
  margin-top: 35px; }
  .title-regular:first-child {
    margin-top: 0; }

.decor-grid {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none; }
  .decor-grid .inner {
    width: 100%;
    height: 100%;
    max-width: 1240px;
    display: flex;
    margin: auto; }
    .decor-grid .inner .col {
      width: 33.33%;
      border-right: 1px solid #000;
      opacity: 0.1; }
      .decor-grid .inner .col:last-child {
        border-left: 1px solid #000; }

.button-icon {
  display: inline-block;
  font-family: 'heebo-medium';
  font-size: 21px;
  color: var(--color-text);
  margin-top: 35px;
  padding-left: 27px;
  background: url("../images/icons/fav.png") no-repeat;
  background-position: left center;
  transition: 0.5s;
  cursor: pointer; }
  .button-icon:hover {
    color: var(--color-main); }
  .button-icon.white {
    color: #fff; }

.loading:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  content: "\f1ce";
  -webkit-animation: fa-spin .75s linear infinite;
          animation: fa-spin .75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  color: #227BC9;
  z-index: 2; }

#sm_menu_ham {
  position: static; }
  #sm_menu_ham span {
    background-color: #fff;
    height: 3px; }

body .sm_menu_outer {
  background: #24397D;
  -webkit-filter: drop-shadow(0px 8px 17px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(0px 8px 17px rgba(0, 0, 0, 0.4));
  background-repeat: no-repeat;
  background-position: bottom right;
  display: block;
  top: 90px; }
  body .sm_menu_outer.slide .mobile_menu .sub-menu {
    background: #24397D;
    height: calc(100vh - 90px); }
  body .sm_menu_outer .mobile_menu li {
    -o-border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0;
       border-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 0) 100%) 0 0 1 0; }
  body .sm_menu_outer .mobile_menu a {
    font-family: 'heebo-regular';
    padding: 15px 15px; }
  body .sm_menu_outer .mobile_menu .current_page_item > a {
    font-family: 'heebo-bold'; }
  @media only screen and (max-width: 1200px) {
    body .sm_menu_outer {
      top: 75px; } }
  @media only screen and (max-width: 950px) {
    body .sm_menu_outer {
      top: 45px; } }

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
  background: url(../plugins/mmenu/images/next.png) no-repeat scroll 10px center/5% auto; }

.sm_menu_outer .mobile_menu li.back a {
  padding: 20px 45px 20px 5px;
  background: url(../plugins/mmenu/images/back.png) no-repeat scroll right 15px center/5% auto; }

.sm_menu_outer {
  bottom: 0;
  height: auto;
  top: 80px;
  left: auto;
  right: -400px;
  max-width: 360px;
  transition: 0.5s;
  overflow: hidden; }
  .sm_menu_outer.active {
    right: 0; }
  @media only screen and (max-width: 1460px) {
    .sm_menu_outer {
      top: 60px; } }
  @media only screen and (max-width: 950px) {
    .sm_menu_outer {
      top: 45px; } }

/* ---------------------- header ---------------------- */
header {
  height: 90px;
  z-index: 9999;
  background: #24397D;
  transition: 0.5s;
  overflow: visible;
  max-width: 1920px;
  margin: auto; }
  header.home {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
    header.home #sm_menu_ham {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
  header .header-inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 50px; }
  header .menu-button {
    position: relative; }
  header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .logo img {
      max-height: 86%; }
  header .tel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'heebo-bold';
    font-size: 21px;
    color: #fff; }
    header .tel img {
      margin-left: 8px; }
  header .part-right, header .tel {
    flex: 1 0; }
  header .part-right {
    display: flex;
    align-items: center; }
  header .menu-cont {
    height: 100%;
    text-align: right;
    margin: 0 35px;
    display: inline-block;
    position: relative; }
    header .menu-cont ul.main-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%; }
      header .menu-cont ul.main-menu .menu-item-has-children, header .menu-cont ul.main-menu .has-extra-menu {
        padding-left: 20px;
        background: url("../images/icons/rdw.svg") no-repeat left 10px center; }
      header .menu-cont ul.main-menu .menu-item-has-children {
        position: relative; }
      header .menu-cont ul.main-menu .has-extra-menu {
        position: static; }
      header .menu-cont ul.main-menu > li {
        position: relative;
        padding: 0 15px; }
        header .menu-cont ul.main-menu > li > a {
          position: relative;
          transition: 0.25s;
          font-family: 'heebo-light';
          font-size: 21px;
          color: #fff;
          padding: 5px 5px;
          white-space: nowrap;
          display: inline-block;
          height: 100%; }
          header .menu-cont ul.main-menu > li > a:hover {
            color: var(--color-main); }
        header .menu-cont ul.main-menu > li.current_page_item > a, header .menu-cont ul.main-menu > li.current-menu-item > a {
          font-family: 'heebo-bold'; }
        header .menu-cont ul.main-menu > li .sub-menu {
          padding: 20px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 100%;
          background-color: #fff;
          visibility: hidden;
          opacity: 0;
          transition: 0.15s;
          box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
          z-index: 99; }
          header .menu-cont ul.main-menu > li .sub-menu li {
            margin: 0; }
            header .menu-cont ul.main-menu > li .sub-menu li.menu-item-has-children {
              background: url("../images/icons/rr.svg") no-repeat left center; }
            header .menu-cont ul.main-menu > li .sub-menu li a {
              font-family: 'heebo-regular';
              font-size: 17px;
              color: var(--color-text);
              padding: 8px;
              white-space: nowrap;
              display: inline-block;
              transition: 0.5s; }
              header .menu-cont ul.main-menu > li .sub-menu li a:hover {
                color: var(--color-main); }
            header .menu-cont ul.main-menu > li .sub-menu li .sub-menu {
              left: auto;
              right: 100%;
              top: 0;
              transform: translateX(-20px); }
            header .menu-cont ul.main-menu > li .sub-menu li:hover > .sub-menu {
              visibility: visible;
              opacity: 1; }
            header .menu-cont ul.main-menu > li .sub-menu li:hover > .extra-menu {
              top: 100%;
              visibility: visible;
              opacity: 1; }
        header .menu-cont ul.main-menu > li:hover > .sub-menu {
          visibility: visible;
          opacity: 1; }
  @media only screen and (max-width: 1370px) {
    header {
      height: 75px; }
      header .header-inner {
        padding: 0 25px; }
      header .tel {
        font-size: 19px; }
        header .tel img {
          margin-left: 6px;
          height: 18px; }
      header .menu-cont {
        margin: 0 25px; }
        header .menu-cont ul.main-menu > li {
          padding: 0 10px; }
          header .menu-cont ul.main-menu > li > a {
            font-size: 19px;
            padding: 5px 5px; } }
  @media only screen and (max-width: 950px) {
    header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      height: 45px; }
      header.home {
        position: fixed;
        background: #24397D; }
      header .menu-cont {
        display: none; }
      header .header-inner {
        padding: 0 10px; }
      header .tel span {
        display: none; }
      header .logo img {
        max-height: 100%; } }

/* --------------------- /header ---------------------- */
/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
  position: relative;
  height: 815px;
  padding-top: 0;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  section.slider-top .bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  section.slider-top .image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    section.slider-top .image img {
      height: 100%; }
  section.slider-top .slider-top-main {
    height: 100%; }
    section.slider-top .slider-top-main .swiper-slide {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center; }
      section.slider-top .slider-top-main .swiper-slide img.main {
        height: 100%; }
      section.slider-top .slider-top-main .swiper-slide:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 0;
        z-index: 2;
        background: #24397d;
        opacity: 0.4; }
      section.slider-top .slider-top-main .swiper-slide.swiper-slide-active .widget-product {
        transform: translateX(0px);
        opacity: 1; }
      section.slider-top .slider-top-main .swiper-slide.swiper-slide-active .part-bottom > .info {
        transform: translateX(0px);
        opacity: 1; }
  section.slider-top .text {
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 0 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; }
    section.slider-top .text .title {
      font-family: 'levenim -bold';
      font-size: 185px;
      color: #fff;
      margin: 35px 0; }
  section.slider-top .part-bottom {
    position: relative;
    z-index: 2;
    max-width: 1750px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 100%;
    z-index: 9; }
    section.slider-top .part-bottom > .info {
      font-family: 'heebo-light';
      font-size: 21px;
      line-height: 1.5;
      color: #fff;
      max-width: 550px;
      margin-right: 55px;
      margin-left: 15px;
      transition: 1s;
      transform: translateX(-100px);
      opacity: 0; }
  section.slider-top .widget-product {
    padding: 20px;
    padding-left: 0;
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    transition: 1s;
    transform: translateX(100px);
    opacity: 0; }
    section.slider-top .widget-product .image {
      width: 185px;
      height: auto;
      flex-shrink: 0;
      padding-left: 35px; }
      section.slider-top .widget-product .image img {
        max-width: 100%;
        height: auto; }
    section.slider-top .widget-product .info {
      padding: 0 35px;
      border-right: 3px solid #E8672D;
      margin: 0; }
      section.slider-top .widget-product .info .title {
        font-family: 'heebo-medium';
        font-size: 26px;
        line-height: 1;
        color: #172A43; }
      section.slider-top .widget-product .info .desc {
        font-family: 'heebo-light';
        font-size: 21px;
        color: #172A43;
        margin-top: 5px; }
    section.slider-top .widget-product .arrow {
      width: 50px;
      flex-shrink: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 100%; }
      section.slider-top .widget-product .arrow:after {
        content: "";
        position: absolute;
        display: block;
        top: -20px;
        bottom: -20px;
        right: 0;
        background-color: #d1d1d1;
        width: 1px;
        z-index: 3; }
  @media only screen and (max-width: 1370px) {
    section.slider-top {
      height: 650px; }
      section.slider-top .text .title {
        font-size: 135px; }
      section.slider-top .part-bottom .info {
        font-size: 19px; }
      section.slider-top .widget-product {
        padding: 15px;
        padding-left: 0; }
        section.slider-top .widget-product .image {
          width: 145px;
          padding-left: 15px; }
        section.slider-top .widget-product .info {
          padding: 0 25px;
          margin-right: 35px; }
          section.slider-top .widget-product .info .title {
            font-size: 22px; }
          section.slider-top .widget-product .info .desc {
            font-size: 19px; }
        section.slider-top .widget-product .arrow:after {
          top: -15px;
          bottom: -15px; } }
  @media only screen and (max-width: 1200px) {
    section.slider-top .part-bottom {
      flex-wrap: wrap; }
      section.slider-top .part-bottom > .info {
        margin: 15px; } }
  @media only screen and (max-width: 950px) {
    section.slider-top {
      height: 550px;
      padding-top: 45px; }
      section.slider-top .text {
        display: block;
        padding: 0 20px; }
        section.slider-top .text .title {
          font-size: 60px; }
      section.slider-top .widget-product {
        padding: 10px;
        max-width: 95%; }
        section.slider-top .widget-product .image {
          width: 90px;
          padding-left: 0; }
        section.slider-top .widget-product .info {
          padding: 0px 10px;
          padding-left: 0;
          margin-right: 10px;
          margin-left: 0;
          border-right: 2px solid #E8672D; }
          section.slider-top .widget-product .info .title {
            font-size: 19px;
            line-height: 1.2; }
          section.slider-top .widget-product .info .desc {
            font-size: 18px;
            line-height: 1.2;
            margin-top: 8px; }
        section.slider-top .widget-product .arrow {
          display: none; }
      section.slider-top .part-bottom {
        bottom: 25px; } }

/* --------------------- /Section slider-top ---------------------- */
/* ---------------------- Section services ---------------------- */
section.services .boxes {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin: 0px;
  margin-top: 65px; }
  section.services .boxes .box {
    width: 33.33%;
    margin: 0;
    padding: 0px;
    border-right: 1px solid #fff; }

@media only screen and (max-width: 950px) {
  section.services .boxes .box {
    width: 100%; } }

/* --------------------- /Section services ---------------------- */
.box-category .inner {
  position: relative; }
  .box-category .inner:after {
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-second);
    opacity: 0.4;
    transition: opacity 0.5s; }

.box-category .image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  height: 728px;
  overflow: hidden; }
  .box-category .image img {
    height: 100%; }

.box-category .title-main {
  font-family: 'heebo-regular';
  font-size: 36px;
  line-height: 1.1;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(-50%);
  z-index: 3;
  transition: 0.5s; }

.box-category .hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: 0.5s; }
  .box-category .hover .title {
    position: static;
    font-family: 'heebo-regular';
    font-size: 36px;
    line-height: 1.1;
    color: #fff; }
    .box-category .hover .title:after {
      content: "";
      display: block;
      width: 65px;
      height: 3px;
      background-color: var(--color-main);
      margin: 5px auto; }
  .box-category .hover .list {
    margin-top: 25px; }
    .box-category .hover .list .item {
      font-family: 'heebo-light';
      font-size: 18px;
      color: #fff;
      display: block;
      margin-top: 5px;
      transition: 0.5s; }
      .box-category .hover .list .item:hover {
        color: var(--color-main); }

.box-category:hover .inner:after {
  opacity: 0.88; }

.box-category:hover .title-main {
  opacity: 0;
  visibility: hidden; }

.box-category:hover .hover {
  opacity: 1;
  visibility: visible; }

@media only screen and (max-width: 1370px) {
  .box-category .image {
    height: 590px; } }

@media only screen and (max-width: 950px) {
  .box-category .image {
    height: 350px; }
    .box-category .image img {
      height: auto;
      min-width: 100%;
      min-height: 100%; }
  .box-category .hover .title {
    font-size: 30px; }
  .box-category .hover .list {
    margin-top: 10px; } }

/* ---------------------- Section vision ---------------------- */
section.vision .advantages {
  margin-top: 65px; }
  section.vision .advantages .boxes {
    display: flex;
    margin: 0px;
    margin-top: 35px;
    border-bottom: 1px solid #707070; }
    section.vision .advantages .boxes .box {
      padding: 15px;
      border-right: 1px solid #707070;
      text-align: center;
      flex: 1 0; }
      section.vision .advantages .boxes .box:first-child {
        border-right: none; }
      section.vision .advantages .boxes .box .icon {
        height: 50px; }
        section.vision .advantages .boxes .box .icon img {
          max-height: 100%;
          margin: auto; }
      section.vision .advantages .boxes .box .title {
        font-family: 'heebo-medium';
        font-size: 18px;
        color: var(--color-text);
        margin-top: 10px; }
      section.vision .advantages .boxes .box .desc {
        font-family: 'heebo-light';
        font-size: 18px;
        color: var(--color-text); }

@media only screen and (max-width: 1200px) {
  section.vision .advantages .boxes {
    margin: 0 -20px;
    margin-top: 35px; } }

@media only screen and (max-width: 950px) {
  section.vision .advantages .boxes {
    flex-wrap: wrap;
    margin: 0 -10px;
    margin-top: 35px;
    border-bottom: none; }
    section.vision .advantages .boxes .box {
      flex-basis: 33.33%;
      width: 33.33%;
      border-right: 1px solid #707070;
      border-bottom: 1px solid #707070; }
      section.vision .advantages .boxes .box:nth-child(6n + 4) {
        border-right: none; }
      section.vision .advantages .boxes .box .title {
        font-size: 16px; }
      section.vision .advantages .boxes .box .desc {
        font-size: 16px; } }

/* --------------------- /Section vision ---------------------- */
.menu-horizontal {
  margin-top: 65px; }
  .menu-horizontal .title-mobile {
    display: none;
    font-family: 'heebo-medium';
    font-size: 21px;
    color: var(--color-text);
    text-align: center;
    cursor: pointer; }
    .menu-horizontal .title-mobile span {
      margin: auto;
      display: inline-block;
      padding-left: 15px;
      background: url("../images/icons/rd.svg") no-repeat;
      background-position: left center; }
  .menu-horizontal .items {
    display: flex;
    justify-content: space-around; }
    .menu-horizontal .items .item {
      font-family: 'heebo-medium';
      font-size: 21px;
      color: var(--color-text);
      margin: 0 20px;
      position: relative;
      transition: 0.5s;
      text-align: center;
      cursor: pointer; }
      .menu-horizontal .items .item:hover, .menu-horizontal .items .item.active {
        color: var(--color-main); }
      .menu-horizontal .items .item:after {
        content: "";
        display: block;
        width: 55px;
        height: 3px;
        background-color: var(--color-main);
        margin: 5px auto; }
  @media only screen and (max-width: 1370px) {
    .menu-horizontal .items .item {
      font-size: 19px; }
      .menu-horizontal .items .item:after {
        width: 35px;
        height: 2px;
        margin: 5px auto; } }
  @media only screen and (max-width: 950px) {
    .menu-horizontal {
      border: 1px solid #c1c1c1;
      margin-top: 35px; }
      .menu-horizontal .title-mobile {
        display: block; }
      .menu-horizontal .items {
        margin-top: 0px;
        display: none;
        padding: 10px 0; }
        .menu-horizontal .items .item:last-child:after {
          content: none; } }

/* ---------------------- Section projects ---------------------- */
section.projects .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 55px; }
  section.projects .boxes .box {
    width: 25%;
    padding: 15px; }
    section.projects .boxes .box:nth-child(6n + 1), section.projects .boxes .box:nth-child(6n + 6) {
      width: 50%; }

section.projects.all-50 .boxes .box {
  width: 50%; }
  section.projects.all-50 .boxes .box .inner .hover {
    opacity: 1; }

@media only screen and (max-width: 1370px) {
  section.projects .boxes {
    margin-top: 35px; } }

@media only screen and (max-width: 950px) {
  section.projects .boxes {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    margin-top: 25px; }
    section.projects .boxes .box {
      width: 50%;
      padding: 10px; }
      section.projects .boxes .box:nth-child(6n + 1), section.projects .boxes .box:nth-child(6n + 6) {
        width: 100%; }
  section.projects.all-50 .boxes .box {
    width: 100%; } }

/* --------------------- /Section projects ---------------------- */
.box-project {
  cursor: pointer; }
  .box-project .inner {
    position: relative; }
  .box-project .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 330px;
    overflow: hidden; }
    .box-project .image img {
      height: 100%;
      transition: 0.5s; }
  .box-project .hover {
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    text-align: center;
    opacity: 0;
    transition: 0.5s; }
    .box-project .hover .title {
      font-family: 'heebo-regular';
      font-size: 18px;
      color: #fff; }
    .box-project .hover .desc {
      font-family: 'heebo-light';
      font-size: 18px;
      color: #fff;
      margin-top: 5px; }
  .box-project:hover .image img {
    transform: scale(1.1); }
  .box-project:hover .hover {
    opacity: 1; }
  @media only screen and (max-width: 950px) {
    .box-project .image {
      height: 210px; } }

/* ---------------------- Section meeting ---------------------- */
section.meeting {
  padding: 35px 0;
  background: #24397D url("../images/index/bg-meeting.png") no-repeat;
  background-size: cover;
  background-position: center center; }
  section.meeting .text {
    font-family: 'heebo-light';
    font-size: 21px;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    max-width: 860px;
    margin: auto; }
    section.meeting .text p {
      margin-top: 25px; }

/* --------------------- /Section meeting ---------------------- */
/* ---------------------- Section installation ---------------------- */
section.installation .parts {
  margin: 0; }
  section.installation .parts .part-text {
    width: 33.33%;
    padding: 0;
    padding-left: 35px; }
  section.installation .parts .part-video {
    width: 66.66%;
    padding: 0; }

section.installation .video {
  display: inline-block;
  position: relative;
  font-size: 0;
  margin-top: 55px; }
  section.installation .video:first-child {
    margin-top: 0; }
  section.installation .video:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #24397d;
    opacity: 0.4; }
  section.installation .video img {
    max-width: 100%; }
  section.installation .video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    transition: 0.5s;
    cursor: pointer; }
    section.installation .video .play:hover {
      transform: translateX(-50%) translateY(-50%) scale(1.1); }

@media only screen and (max-width: 950px) {
  section.installation .video {
    margin-top: 25px; }
  section.installation .parts {
    margin: 0; }
    section.installation .parts .part-text {
      width: 100%;
      padding: 0;
      padding-left: 0px; }
    section.installation .parts .part-video {
      width: 100%;
      padding: 0; } }

/* --------------------- /Section installation ---------------------- */
/* ---------------------- Section testimonials ---------------------- */
section.testimonials .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 25px;
  justify-content: center; }
  section.testimonials .boxes .box {
    width: 33.33%;
    padding: 10px; }

@media only screen and (max-width: 950px) {
  section.testimonials .boxes .box {
    width: 100%;
    max-width: 350px; } }

/* --------------------- /Section testimonials ---------------------- */
.box-video {
  cursor: pointer; }
  .box-video .inner {
    position: relative; }
  .box-video .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 295px;
    overflow: hidden; }
    .box-video .image:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #24397d;
      opacity: 0.5;
      transition: 0.5s; }
    .box-video .image img {
      height: 100%; }
  .box-video:hover .image:after {
    opacity: 0; }
  .box-video .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2; }
  .box-video .title {
    font-family: 'heebo-medium';
    font-size: 18px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2; }
  @media only screen and (max-width: 950px) {
    .box-video .image {
      height: 270px; } }

/* ---------------------- footer ---------------------- */
footer {
  position: relative;
  overflow: visible;
  z-index: 99;
  max-width: 1920px;
  margin: auto; }
  footer .part-top {
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    background: #24397D; }
    footer .part-top .cols {
      display: flex;
      justify-content: space-between;
      color: white;
      font-size: 17px;
      text-align: right;
      margin: auto -20px; }
      footer .part-top .cols .col {
        padding: 0 20px;
        color: #fff; }
        footer .part-top .cols .col .title {
          font-family: 'heebo-medium';
          font-size: 18px;
          color: #fff;
          display: inline-block;
          white-space: nowrap;
          margin-top: 25px; }
          footer .part-top .cols .col .title:first-child {
            margin-top: 0; }
        footer .part-top .cols .col .content {
          font-family: 'heebo-light';
          font-size: 18px;
          margin-top: 10px;
          color: #fff; }
          footer .part-top .cols .col .content:first-child {
            margin-top: 0; }
          footer .part-top .cols .col .content a {
            color: inherit;
            transition: 0.5s;
            text-decoration: none; }
            footer .part-top .cols .col .content a:hover {
              color: var(--color-main); }
          footer .part-top .cols .col .content ul {
            list-style: none;
            padding-right: 0; }
          footer .part-top .cols .col .content p, footer .part-top .cols .col .content li {
            margin-top: 5px; }
  footer .part-bottom {
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'heebo-regular';
    font-size: 18px;
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .part-bottom .sep {
      width: 2px;
      height: 15px;
      margin: 0 15px;
      background: var(--color-text); }
  @media only screen and (max-width: 950px) {
    footer .part-top {
      padding-top: 20px; }
      footer .part-top .cols {
        flex-wrap: wrap; }
        footer .part-top .cols .col {
          flex: 50% 1;
          margin-top: 25px; }
          footer .part-top .cols .col .content ul {
            margin-top: 0; }
            footer .part-top .cols .col .content ul li {
              margin-top: 0;
              font-size: 17px; }
    footer .part-bottom {
      flex-wrap: wrap;
      padding: 15px 0; }
      footer .part-bottom p {
        width: 100%;
        text-align: center;
        margin: 7px; }
      footer .part-bottom .sep {
        display: none; } }

/* --------------------- /footer ---------------------- */
.logoextra {
  cursor: pointer; }
  .logoextra svg path {
    transition: 0.5s; }
  .logoextra:hover svg path {
    fill: #FFC20F; }

/* ----------------- wpcf7-------------------- */
.wpcf7 {
  margin: auto;
  text-align: center;
  position: relative;
  min-width: 320px; }
  .wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
    direction: rtl; }
  .wpcf7 input, .wpcf7 select, .wpcf7 textarea {
    font-family: 'heebo-light';
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    border-radius: 0;
    outline: none;
    padding: 7px 0px;
    width: 100%;
    direction: rtl; }
    .wpcf7 input::-webkit-input-placeholder, .wpcf7 select::-webkit-input-placeholder, .wpcf7 textarea::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #fff; }
    .wpcf7 input:-moz-placeholder, .wpcf7 select:-moz-placeholder, .wpcf7 textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #fff; }
    .wpcf7 input::-moz-placeholder, .wpcf7 select::-moz-placeholder, .wpcf7 textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #fff; }
    .wpcf7 input:-ms-input-placeholder, .wpcf7 select:-ms-input-placeholder, .wpcf7 textarea:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #fff; }
  .wpcf7 input[type="checkbox"] {
    width: auto;
    margin-left: 10px; }
  .wpcf7 select {
    padding-left: 25px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: #535353 url("../images/icons/rdw.svg") no-repeat;
    background-position: left 20px center; }
  .wpcf7 textarea {
    border-radius: 24px;
    height: 130px;
    padding: 20px 20px; }
  .wpcf7 .wpcf7-form-control-wrap {
    display: block;
    position: relative;
    margin-top: 10px; }
    .wpcf7 .wpcf7-form-control-wrap[data-name*="acceptance"] {
      text-align: right; }
  .wpcf7 .wrapper-submit {
    margin: auto;
    margin-top: 20px;
    width: auto;
    display: inline-block;
    float: left;
    position: relative;
    padding-left: 25px;
    background: url("../images/icons/fav.png") no-repeat;
    background-position: left center; }
  .wpcf7 input[type="submit"] {
    border: none;
    cursor: pointer;
    font-family: 'heebo-medium';
    font-size: 21px;
    color: #fff;
    padding: 5px 0px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: 0.5s; }
    .wpcf7 input[type="submit"]:hover {
      color: var(--color-main); }
  .wpcf7 span[role="alert"] {
    font-family: 'heebo-regular';
    font-size: 14px;
    color: #DF0707;
    position: absolute;
    left: 0;
    bottom: -20px; }
  .wpcf7 .wpcf7-response-output {
    font-family: 'heebo-regular';
    font-size: 14px;
    color: #DF0707;
    position: absolute;
    bottom: -25px;
    right: 0;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important; }
  .wpcf7 .wpcf7-not-valid-tip {
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: 0px; }
  .wpcf7 .wpcf7-spinner {
    position: absolute; }

/* ----------------- /wpcf7-------------------- */
/* ---------------------- Section top-inner ---------------------- */
section.top-inner {
  padding-top: 35px;
  padding-bottom: 15px;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #0814555b;
  background: #fff; }
  section.top-inner .section-inner {
    z-index: 2; }
  section.top-inner .title {
    font-family: 'heebo-medium';
    font-size: 35px;
    line-height: 1;
    margin: 0; }
  section.top-inner .breadcrumbs {
    font-family: 'heebo-regular';
    font-size: 17px;
    margin-top: 10px;
    text-align: right; }
  @media only screen and (max-width: 950px) {
    section.top-inner {
      padding-top: 25px; }
      section.top-inner .title {
        font-size: 32px; }
      section.top-inner .breadcrumbs {
        font-size: 16px;
        margin-top: 5px; } }

/* --------------------- /Section top-inner ---------------------- */
.services-boxes {
  position: relative;
  z-index: 100; }
  .services-boxes .boxes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px; }
    .services-boxes .boxes .box {
      width: 25%;
      padding: 20px;
      background: #FBFBFB;
      text-align: center;
      font-family: 'heebo-light';
      font-size: 18px;
      color: var(--color-text);
      border-left: 1px solid #0000007c;
      border-bottom: 1px solid #0000007c; }
      .services-boxes .boxes .box .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%; }
        .services-boxes .boxes .box .inner p {
          margin-top: 10px; }
          .services-boxes .boxes .box .inner p:first-child {
            margin-top: 0; }
      .services-boxes .boxes .box:nth-child(4n + 4) {
        border-left: none; }
      .services-boxes .boxes .box:nth-last-child(1), .services-boxes .boxes .box:nth-last-child(2), .services-boxes .boxes .box:nth-last-child(3), .services-boxes .boxes .box:nth-last-child(4) {
        border-bottom: none; }
  @media only screen and (max-width: 950px) {
    .services-boxes .boxes {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px; }
      .services-boxes .boxes .box {
        width: 50%;
        padding: 20px 15px; }
        .services-boxes .boxes .box:nth-child(4n + 4) {
          border-left: 1px solid #0000007c; }
        .services-boxes .boxes .box:nth-last-child(1), .services-boxes .boxes .box:nth-last-child(2), .services-boxes .boxes .box:nth-last-child(3), .services-boxes .boxes .box:nth-last-child(4) {
          border-bottom: 1px solid #0000007c; }
        .services-boxes .boxes .box:nth-child(2n + 2) {
          border-left: none; }
        .services-boxes .boxes .box:nth-last-child(1), .services-boxes .boxes .box:nth-last-child(2) {
          border-bottom: none; } }

/* ---------------------- Section team ---------------------- */
section.team .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  margin-top: 35px; }
  section.team .boxes .box {
    width: 20%;
    padding: 10px; }

@media only screen and (max-width: 950px) {
  section.team .boxes .box {
    width: 50%;
    max-width: 250px; } }

/* --------------------- /Section team ---------------------- */
.box-team {
  cursor: pointer; }
  .box-team .inner {
    position: relative; }
  .box-team .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 325px;
    overflow: hidden;
    position: relative; }
    .box-team .image img {
      height: 100%; }
    .box-team .image:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(rgba(36, 57, 125, 0) 0%, #24397d 100%);
      opacity: 0.5; }
  .box-team .name {
    font-family: 'heebo-regular';
    font-size: 18px;
    color: #fff; }
  .box-team .position {
    font-family: 'heebo-light';
    font-size: 18px;
    color: #fff; }
  .box-team .about {
    font-family: 'heebo-light';
    font-size: 14px;
    color: #fff; }
    .box-team .about p {
      margin-top: 5px; }
  .box-team .caption {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    opacity: 1; }
  .box-team .hover {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #24397d80;
    transition: 0.5s;
    opacity: 0; }
  @media only screen and (min-width: 950px) {
    .box-team:hover .caption {
      opacity: 0; }
    .box-team:hover .hover {
      opacity: 1; } }
  @media only screen and (max-width: 950px) {
    .box-team .image {
      height: 235px; }
    .box-team .hover {
      display: none; } }

.fancybox-team {
  direction: rtl;
  text-align: right;
  padding: 40px 20px;
  max-width: 1000px; }
  .fancybox-team p {
    font-family: 'heebo-regular';
    font-size: 18px;
    color: #000;
    margin-top: 25px; }
    .fancybox-team p:first-child {
      margin-top: 0; }
  .fancybox-team .name {
    font-family: 'heebo-regular';
    font-size: 18px;
    color: #000; }
  .fancybox-team .position {
    font-family: 'heebo-light';
    font-size: 18px;
    color: #000; }
  .fancybox-team .about {
    font-family: 'heebo-light';
    font-size: 14px;
    color: #000; }
    .fancybox-team .about p {
      margin-top: 5px; }

/* ---------------------- Section service ---------------------- */
section.service .parts {
  margin-top: 55px; }

section.service .content.main {
  margin-top: 35px; }

/* --------------------- /Section service ---------------------- */
.gallery-content .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -15px;
  justify-content: center; }
  .gallery-content .boxes .box {
    width: 25%;
    padding: 15px;
    flex-grow: 1;
    cursor: pointer; }
    .gallery-content .boxes .box .inner {
      height: 215px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      .gallery-content .boxes .box .inner img {
        height: 100%;
        width: auto;
        max-width: none;
        transition: 0.5s; }
    .gallery-content .boxes .box:hover .inner img {
      transform: scale(1.1); }

@media only screen and (max-width: 950px) {
  .gallery-content .boxes {
    margin: -10px;
    margin-top: 20px; }
    .gallery-content .boxes .box {
      padding: 10px;
      width: 50%;
      max-width: 200px; }
      .gallery-content .boxes .box .inner {
        height: 140px; } }

/* ---------------------- Section types ---------------------- */
section.types .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -30px;
  margin-top: 35px; }
  section.types .boxes .box {
    width: 33.33%;
    padding: 30px; }

@media only screen and (max-width: 950px) {
  section.types .boxes {
    margin: -10px;
    margin-top: 35px; }
    section.types .boxes .box {
      width: 50%;
      max-width: 250px;
      padding: 10px; } }

/* --------------------- /Section types ---------------------- */
.box-service .inner {
  position: relative; }

.box-service:hover .image img {
  transform: scale(1.1); }

.box-service .image {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  height: 280px;
  overflow: hidden;
  position: relative; }
  .box-service .image img {
    height: 100%;
    transition: 0.5s; }
  .box-service .image:after {
    content: "";
    position: absolute;
    display: block;
    top: 70px;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 3, 78, 0) 0%, #24397d 100%); }

.box-service .caption {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
  left: 0;
  padding: 15px;
  text-align: center;
  transition: 0.5s;
  opacity: 1; }

.box-service .title {
  font-family: 'heebo-light';
  font-size: 18px;
  color: #fff; }

@media only screen and (max-width: 950px) {
  .box-service .image {
    height: 190px; }
  .box-service .caption {
    padding: 10px; }
  .box-service .title {
    font-size: 17px; } }

/* ---------------------- Section blog ---------------------- */
section.blog .section-title {
  margin-bottom: 35px; }

section.blog .boxes {
  display: flex;
  flex-wrap: wrap;
  margin: -25px; }
  section.blog .boxes .box {
    width: 33.33%;
    padding: 25px; }

@media only screen and (max-width: 950px) {
  section.blog .boxes {
    justify-content: center;
    margin: -10px; }
    section.blog .boxes .box {
      width: 100%;
      max-width: 400px;
      padding: 10px; } }

/* --------------------- /Section blog ---------------------- */
.box-post {
  cursor: pointer; }
  .box-post .inner {
    position: relative; }
  .box-post .image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    height: 280px;
    overflow: hidden;
    position: relative; }
    .box-post .image img {
      height: 100%; }
    .box-post .image:after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(rgba(0, 3, 78, 0) 0%, #24397d 100%); }
  .box-post .title {
    font-family: 'heebo-bold';
    font-size: 21px;
    color: #fff; }
  .box-post .desc {
    font-family: 'heebo-light';
    font-size: 17px;
    color: #fff; }
    .box-post .desc p {
      margin-top: 5px; }
  .box-post .caption {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    left: 0;
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    opacity: 1; }
  .box-post .hover {
    position: absolute;
    bottom: 0;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background: #24397d80;
    transition: 0.5s;
    opacity: 0; }
  @media only screen and (min-width: 950px) {
    .box-post:hover .caption {
      opacity: 0; }
    .box-post:hover .hover {
      opacity: 1; } }
  @media only screen and (max-width: 1370px) {
    .box-post .image {
      height: 255px; } }
  @media only screen and (max-width: 950px) {
    .box-post .image {
      height: 235px; }
    .box-post .caption {
      opacity: 0; }
    .box-post .hover {
      opacity: 1; } }

/* ---------------------- Section post ---------------------- */
section.post .img-main {
  width: 50%;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px; }
  section.post .img-main.mobile {
    display: none; }
  section.post .img-main img {
    width: 100%;
    margin-top: 0; }

section.post .content .section-title {
  margin-top: 0; }
  section.post .content .section-title p {
    margin-top: 0; }

section.post .title {
  font-family: 'heebo-medium';
  font-size: 36px;
  color: var(--color-text); }

@media only screen and (max-width: 950px) {
  section.post .img-main {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    display: none; }
    section.post .img-main.mobile {
      display: block; }
  section.post .title {
    font-size: 28px;
    margin-bottom: 10px; } }

/* --------------------- /Section post ---------------------- */
/* ---------------------- Section contacts ---------------------- */
section.contact .sections {
  display: flex; }
  section.contact .sections .section-image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    overflow: hidden;
    width: 33.33%; }
  section.contact .sections .section-content {
    width: 66.66%;
    padding-right: 80px; }

section.contact .wrapper-form {
  background: #24397D;
  margin-top: 50px;
  padding: 35px 50px; }

section.contact .wpcf7 {
  min-width: 0; }
  section.contact .wpcf7 form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  section.contact .wpcf7 .wpcf7-form-control-wrap {
    margin: 0;
    padding: 10px;
    width: 33.33%; }
    section.contact .wpcf7 .wpcf7-form-control-wrap[data-name*="message"] {
      width: 100%; }
  section.contact .wpcf7 .wrapper-submit {
    width: auto;
    float: none;
    padding-left: 25px; }

section.contact .parts {
  margin-top: 75px; }

@media only screen and (max-width: 950px) {
  section.contact .sections {
    display: block; }
    section.contact .sections .section-image {
      display: none; }
    section.contact .sections .section-content {
      width: 100%;
      padding-right: 0; }
  section.contact .wrapper-form {
    padding: 25px 20px; }
    section.contact .wrapper-form .wpcf7 form {
      display: block; }
    section.contact .wrapper-form .wpcf7 .wpcf7-form-control-wrap {
      width: 100%; }
    section.contact .wrapper-form .wpcf7 .wrapper-submit {
      width: auto; } }

/* --------------------- /Section contacts ---------------------- */
.wrapper-social {
  margin: auto;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
  display: inline-block;
  margin-top: 35px; }
  .wrapper-social .social {
    display: flex;
    align-items: center; }
    .wrapper-social .social .social-title {
      font-family: 'heebo-medium';
      font-size: 18px;
      line-height: 2;
      color: var(--color-text);
      margin-left: 8px;
      white-space: nowrap; }
    .wrapper-social .social a {
      color: #FFFFFF;
      font-size: 25px;
      margin: 8px;
      transition: 0.5s; }
      .wrapper-social .social a:hover {
        color: #F9C900; }
  @media only screen and (max-width: 950px) {
    .wrapper-social {
      margin-top: 30px;
      width: 100%; }
      .wrapper-social.desktop {
        display: none; }
      .wrapper-social.mobile {
        display: block; }
      .wrapper-social .social .social-title {
        margin-top: 0 !important; } }

.alignnone, .aligncenter, .alignright, .alignleft {
  max-width: 50%; }

.content .alignright, .content .alignleft {
  max-width: 50%;
  height: auto; }

.content .alignnone, .content .aligncenter {
  max-width: 100%;
  height: auto; }

@media only screen and (max-width: 950px) {
  .content .alignnone, .content .aligncenter, .content .alignright, .content .alignleft {
    max-width: 100%;
    float: none;
    margin: 0; } }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] {
  direction: rtl; }

@media only screen and (max-width: 950px) {
  .woocommerce-MyAccount-content {
    width: 100%; } }

html.fp-enabled {
  margin-top: 0 !important; }
